*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
}

header{
    background-color: rgb(60, 110, 93);
    flex: 0 1 100px;
}
main{
    background-color: rgb(160, 175, 170);
    flex: 1 1 600px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
footer{
    background-color: rgb(74, 198, 113);
    flex: 0 1 200px;
}
section{
    border: thin solid #000;
    border-radius: 5px;
    flex: 1 1 400px;
    min-height: 250px;
}
#intro{
    flex: 1 0 100%;
    background-color: rgb(214, 18, 96);
    min-height: 350px;
}