@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*{
    margin: 20px;
}
img{
    width: 200px;
    height: 250px;
    margin: 20px;
}
#tim{
    width: 250px;
    height: 200px;
}
p{
    font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Aboreto', cursive;
}
body{
    background-color: #EDDBC0;
}
ul{
    font-size: 22px;
}
.btnLink{
    display: block;
    padding: 10px;
    border: 2px solid #DBC8AC;
    background-color: #EDDBC0;
    width: 250px;
    height: 40px;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: #B73E3E;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}
.btnLink:hover{
    background-color: #DBC8AC;
}

.normalLink{
    text-decoration: none;
    font-weight: bold;
}