*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

header{
    background-color: chartreuse;
    flex: 1 1 150px;
}
section{
    background-color: rgb(189, 136, 185);
    flex: 1 1 400px;
}
main{
    background-color: rgb(0, 85, 255);
    flex: 1 1 600px;
    display: flex;
    flex-direction: row;
}
main > article{
    background-color: rgb(194, 126, 66);
    flex: 4 1 600px;
}
main > nav{
    background-color: rgb(232, 73, 42);
    flex: 1 1 200px;
}

